html {
  color: $text-color;
  background: $bg-color;
  -webkit-font-smoothing: antialiased;
  font-family: $body-font-family;
  font-size: 16px;
  line-height: 1.7;
}

a {
  font-style: italic;
  text-decoration: none;
  color: initial;
  display: inline-block;
}

.btn {
  font-style: normal;
  background: $btn-primary;
  padding: .5em 1.5em;
  color: #fff;
  border-radius: 2em;

  &.btn-link {
    background: transparent;
    color: initial;
    font-style: italic;
  }
}