$bg-color:#F7F8FA;
$text-color: #29384D;
$body-font-family: Karla, Helvetica Neue,Helvetica,Arial,sans-serif;
$btn-primary: #4A90E2;



$breakpoints-main: 767px;
$breakpoints-lg: 1200px;
$breakpoints-md: 992px;
$breakpoints-sm: 767px;
$breakpoints-xs: 480px;